input{
    height:40px !important;
    width: 100%;
  
    border: 1px solid #ebebeb;
    padding-left: 20px;
    font-size: 16px;
    color: #aaaab3;
    margin-bottom: 10px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

h3 {
     color: #2cbdb8; 
  }