<app-navbar-logout ></app-navbar-logout>

<!-- Breadcrumb Section Begin -->

<section class="breadcrumb-section ">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-12">
              <div class="breadcrumb-text">
                  <h2>FAQ</h2>
                  <div class="breadcrumb-option">
                      <a href="#"><i class="fa fa-home"></i> Home</a>
                      <span>FAQ</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Breadcrumb Section END -->





<div class="container margintop">

  <br />
  <br />

      <div class="card1">


          <div class="container1">
            <div class="row">
              <div class="col-1 textalign">
                <img src="assets/img/fa-question.png" height="50px" width="50px" class=" starimg textalign" alt="...">
              </div>
             
              <div class="col-11 ">
                <a class="textstyle" ng-href="" (click)="isCollapsed1 = !isCollapsed1"
                [attr.aria-expanded]="!isCollapsed1" aria-controls="collapseExample1">
                <h3 class="textstyle">
                  How do solar cells
                  generate electricity?
              </h3>
              </a>
     
              </div>
            </div>
            <div id="collapseExample1" [ngbCollapse]="isCollapsed1">
              <div class="card">
                <div class="card-body">
                  Photovoltaics or PV for short can be thought of as a direct
current (DC) generator powered by the sun. When light
photons of sufficient energy strike a solar cell, they knock
electrons free in the silicon crystal structure forcing them
through an external circuit (battery, inverter or direct DC load),
and then returning them to the other side of the solar cell to
start the process all over again. The voltage output from a
single crystalline solar cell is about 0.5V with an amperage
output that is directly proportional to the cell’s surface area
(approximately 7A for a 6 inch square multi-crystalline solar
cell). Typically 30-36 cells are wired in series (+ to -) in each solar
module. This produces a solar module with a 12V nominal
output (~17V at peak power) that can then be wired in series
and/or parallel with other solar modules to form a complete
solar array.
                </div>
              </div>
            </div>
          </div>
      
 
  
 

  </div>
  <div class="card1">


    <div class="container1">
      <div class="row">
        <div class="col-1 textalign">
          <img src="assets/img/fa-question.png" height="50px" width="50px" class=" starimg textalign" alt="...">
        </div>
       
        <div class="col-11 ">
          <a class="textstyle" ng-href="" (click)="isCollapsed2 = !isCollapsed2"
          [attr.aria-expanded]="!isCollapsed2" aria-controls="collapseExample2">
          <h3 class="textstyle">
            Will solar
            work in my
            location?
        </h3>
        </a>

        </div>
      </div>
      <div id="collapseExample2" [ngbCollapse]="isCollapsed2">
        <div class="card">
          <div class="card-body">
            Solar is universal and will
work virtually anywhere,
however some locations are
better than others.
Irradiance is a measure of
the sun’s power available at
the surface of the earth and
it peaks at about 1000 watts
per square meter. With
typical crystalline solar cell efficiencies around 14-16%, that
means we can expect to generate about 140-160W per square
meter of solar cells placed in full sun. Insolation is a measure of
the available energy from the sun and is expressed in terms of
"full sun hours" (i.e. 4 full sun hours = 4 hours of sunlight at an
irradiance level of 1000 watts per square meter). Obviously
different parts of the world receive more sunlight than others,
so they will have more “full sun hours” per day. The solar
insolation zone map will give you a general idea of th
          </div>
        </div>
      </div>
    </div>





</div>
<div class="card1">


  <div class="container1">
    <div class="row">
      <div class="col-1 textalign">
        <img src="assets/img/fa-question.png" height="50px" width="50px" class=" starimg textalign" alt="...">
      </div>
     
      <div class="col-11 ">
        <a class="textstyle" ng-href="" (click)="isCollapsed3 = !isCollapsed3"
        [attr.aria-expanded]="!isCollapsed3" aria-controls="collapseExample3">
        <h3 class="textstyle">
          How much will solar cost for a
          2000 square foot home?
      </h3>
      </a>

      </div>
    </div>
    <div id="collapseExample3" [ngbCollapse]="isCollapsed3">
      <div class="card">
        <div class="card-body">
          Unfortunately there is no per square foot “average”since the
cost of a system actually depends on your daily energy usage
and how many full sun hours you receive per day; and if you
have other sources of electricity. To accurately size a system to
meet your needs, you need to know how much energy you use
per day. If your home is connected to the utility grid, simply
look at your monthly electric bill. If not, you can fill out the “load
evaluation form”on page 15. Using this information, your
authorized Kyocera Solar Dealer can design a system to meet
your needs.
        </div>
      </div>
    </div>
  </div>





</div>
<div class="card1">


  <div class="container1">
    <div class="row">
      <div class="col-1 textalign">
        <img src="assets/img/fa-question.png" height="50px" width="50px" class=" starimg textalign" alt="...">
      </div>
     
      <div class="col-11 ">
        <a class="textstyle" ng-href="" (click)="isCollapsed4 = !isCollapsed4"
        [attr.aria-expanded]="!isCollapsed4" aria-controls="collapseExample4">
        <h3 class="textstyle">
          What components do I need for
          an off-grid system?
      </h3>
      </a>

      </div>
    </div>
    <div id="collapseExample4" [ngbCollapse]="isCollapsed4">
      <div class="card">
        <div class="card-body">
          There are many components that make up a complete solar
system, but the 4 main items on a stand-alone system are:solar
modules, charge controller(s), battery(s) and inverter(s).The solar
modules are physically mounted on a mount structure (see
question 7) and the DC power they produce is wired through a
charge controller before it goes on to the battery bank where it
is stored. For more detailed information on solar modules,turn to
page 20.The two main functions of a charge controller are to
prevent the battery from being overcharged and eliminate any
reverse current flow from the batteries back to the solar modules
at night.Turn to page 38 for more detailed information on
charge controller functions and features.The battery bank stores
the energy produced by the solar array during the day for use at
anytime of the day or night. Batteries come in many sizes and
grades, which you can see starting on page 49.The inverter takes
the DC energy stored in the battery bank and inverts it to 120 or
240 VAC to run your AC appliances. For more detailed
information on different inverter models and features,turn to
        </div>
      </div>
    </div>
  </div>





</div>
  </div>
