@import '@angular/material/prebuilt-themes/indigo-pink.css';

table {
    width: 100%;
  }
  .mat-icon {
   color: #2cbdb8;
   border:none;
  }
  h3 {
    color: #2cbdb8; 
 }
 .hide{
     display: none;
 }
 mat-footer-row mat-footer-cell{
     justify-content: center;
     font-style: italic;
 }
 img{
    height: 40px;
    width: 40px;
   }
   #toast-container > div {
    opacity: 1 !important;
  }
  .toast {
    font-size: initial !important;
    border: initial !important;
    backdrop-filter: blur(0) !important;
    
  }
  .toast-success {
    background-color: #51A351 !important;
  }
  .toast-error {
    background-color: #BD362F !important;
  }
  .toast-info {
    background-color: #2F96B4 !important;
  }
  .toast-warning {
    background-color: #F89406 !important;
  }
  
