<div class="row" style="float: right;">
   <div class="col-md-12" style="float: right;">
       <button (click)="onClose()" style="background-color: transparent;border: none;font-size: 25px;"><i class="fa fa-close" style="font-size: 16px;"></i>  </button>
       <!-- <mat-icon id="close-icon" (click)="onClose()">close</mat-icon> -->
   </div>
</div>
<h3 class="text-center pt-3">Please rate your Experience</h3>
<section class="blog-section blog-page">
   <div class="container-fluid">
      <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form);" >
         <div class="row  offset-lg-1 ">
             <div class="col-sm-6    pt-3">
                 <div class="form-group">
                     <div class="input-group">
                         <div class="input-group-prepend">
                         
                     </div>
                     <div style="text-align:center">
                        <h1>
                            <ngb-rating [(rate)]="currentRate">
                                <ng-template let-fill="fill" let-index="index">
                                  <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
                                </ng-template>
                              </ngb-rating>
                              <hr>
                              <pre>Rate: <b>{{currentRate}}</b></pre>
                        </h1>

                      </div>
                     </div>
                    
                 </div>
              
                 
                 
                
             </div>
             <div class="col-sm-6 pt-3">
                 <div class="form-group">
                     <div class="input-group">
                         <div class="input-group-prepend">
                         <div class="input-group-text bg-white">
                             <i class="fa fa-user"></i>
 
                         </div>
                     </div>
                     <textarea class="form-control" placeholder="Comments"></textarea>
                     </div>
                     
                 </div>
                
                 
                
                 <div class="row">
                     <div class="col-lg-6">
                     
                     </div> 
                     <div class="col-lg-6 mt-2 text-right sb-text">
                         <button type="submit" class="site-btn" [disabled]="form.invalid"><i class="fa fa-database" style="color: white;"></i>   Add</button>
                     </div> 
                   </div>
                           
             </div>
         </div>
     </form>
   </div>
</section>