<app-navbar-logout ></app-navbar-logout>
 <!-- Breadcrumb Section Begin -->
   <section class="breadcrumb-section contact-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Contact Us</h2>
                    <div class="breadcrumb-option">
                        <a href="#"><i class="fa fa-home"></i> Home</a>
                        <span>Contact</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section END -->

<!-- Contact Section Begin -->

<section class="contact-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="contact-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3330.317028247491!2d-111.92585514922317!3d33.41497815839513!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872b08e9246792db%3A0xac81dd812f9dc1d!2s1020%20E%20Apache%20Blvd%2C%20Tempe%2C%20AZ%2085281%2C%20USA!5e0!3m2!1sen!2sin!4v1588763372682!5m2!1sen!2sin" 
                    width="700" height="700" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    <div class="map-inside">
                        <i class="icon_pin"></i>
                        <div class="inside-widget">
                            <h4>TEMPE</h4>
                            <ul>
                                <li>Phone:840 345 6789</li>
                                <li>1020 E Apache Blvd Tempe AZ</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-7 offset-lg-1">
                        <div class="contact-text">
                            <div class="section-title">
                                <span>Contact</span>
                                <h2>Get In Touch</h2>
                            </div>
                            <form action="#" class="contact-form">
                                <input type="text" placeholder="Name">
                                <input type="text" placeholder="Email">
                                <input type="text" placeholder="Website">
                                <textarea placeholder="Messages"></textarea>
                                <button type="submit" class="site-btn">Send Message</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->

