
<app-navbar-logout ></app-navbar-logout>
<!-- Property Details Hero Section Begin -->
<section class="pd-hero-section set-bg " data-setbg="assets/img/about/main1.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="pd-hero-text">
                    <p class="room-location"><i class="icon_pin"></i>Tempe based</p>
                    <h2>SunPower</h2>
                    <div class="room-price">
                        <span>A Solar System Agency</span>
                        <p>Since: 2020</p>
                    </div>
                    <div class="room-price">
                       
                        <span>We strive for sustainable resources</span>
                    </div>
                    <ul class="room-features">
                        <li>
                            <i class="fas fa-solar-panel"></i>
                            <p>Solar Panels</p>
                        </li>
                        <li>
                            <i class="fas fa-car-battery"></i>
                            <p>Battery</p>
                        </li>
                        <li>
                            <i class="fas fa-plug"></i>
                            <p>Plug and cables</p>
                        </li>
                        <li>
                            <i class="fas fa-microchip"></i>
                            <p>Converters</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
</section>
<img src="assets/img/about/wpu.png" style="margin-top: -35px;">
 
<!-- Property Details Hero Section Begin -->
<section class="contact">
    <div class="container">
        <div class="row">
           
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-7 offset-lg-1">
                        <div class="contact-text">
                            <div class="section-title">
                          
                                <h2></h2>
                            </div>
                            <div>
                               <p><b>Our vision </b>is a world where clean energy is powered by individuals, ingenuity and independence.</p>
                               <p><b>Our mission </b>is to provide tailored solutions and lifelong support empowering people, communities and businesses to control the way they harness clean energy.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 contact-text">
                
                <img src="assets/img/about/side.jpg" style="height: 400px !Important" >
            
            </div>

        </div>
    </div>
</section>
<img src="assets/img/about/wpd.png" >
<!-- Contact Section Begin -->
<section class="contact-section"style="margin-top: -28px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
            <div class="contact-text">
                
                <div style="text-align: center;">
                    <h1>Do It Your Way & Live Unbound</h1>
                   <p>At SunPower, we realize that renewable energy and solar power in particular
                    doesn’t just keep the lights on; it is an investment in the future – empowering the pursuit
                    of self-reliance, independence and sustainable living.</p>
                    <h3>Self-Reliant. Independent. Sustainable.</h3>
                   <p>In business since 2020, SunPower focuses on making clean energy accessible
                    and affordable to everyone. As a startup, we are focusing on off-grid solutions.</p>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->