<app-navbar-logout ></app-navbar-logout>
 <!-- Breadcrumb Section Begin -->

   <section class="breadcrumb-section contact-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Calculator</h2>
                    <div class="breadcrumb-option">
                        <a href="#"><i class="fa fa-home"></i> Home</a>
                        <span>Calculator</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="contianer">
<div class="row">
    <div class="col-lg-4 offset-lg-1">
        <div class="contact-text">
            <div class="section-title">
                
                <h3>Enter Area Information</h3>
            </div>
           
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label><b>Zip Code</b></label>
                            <input type ="text" #zipCodeControl
                             class ="form-control" 
                            [(ngModel)]="zipcode" 
                            name ="zipcode"
                            placeholder="Ex. 85281" maxlength="5">
                           
                      </div>

                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label><b>Sun Hours/Day</b></label>
                          <input type="number" min="0"  class="form-control"  name="sunHrPerDay" [(ngModel)]="sunHrPerDay">
                        
                      </div>
                        
                    </div>
                </div>
                <div *ngIf="display">
                <div class="section-title">
                
                    <h3>Here is the estimate system size calculation based on your appliances.
                        If you would like us to email you a copy, enter your email address below.</h3>
                </div>
                <div >
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Appliance</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Watts</th>
                        <th scope="col">Hours On per Day</th>
                        <th scope="col">Watt Hours per Day</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of selecteddata; let i = index">
                        <th scope="row">{{item.ddlval}}</th>
                        <td>{{item.Quantity}}</td>
                        <td>{{item.Watts}}</td>
                        <td>{{item.HourDay}}</td>
                        <td>{{item.WattDay}}</td>
                      </tr>
                 
                    </tbody>
                  </table>
                  <div class="section-title">
                
                    <h3>
                        System Calculation Results</h3>
                </div>
                <div class="row">
                    <div class="col-md-8" style="font-weight: bold;">Kilowatt Hours per Month:</div>
                    <div class="col-md-4 " style="font-weight: bold;">{{z}}kWh</div>
                </div>
                <div class="row">
                    <div class="col-md-8" style="font-weight: bold;">Peak Sun Hours:</div>
                    <div class="col-md-4 " style="font-weight: bold;">{{sunHrPerDay}} hours/day</div>
                </div>
                <div class="row">
                    <div class="col-md-8" style="font-weight: bold;">Area Code: </div>
                    <div class="col-md-4 " style="font-weight: bold;">{{zipcode}} </div>
                </div>
                <div class="row">
                    <div class="col-md-8" style="font-weight: bold;">Solar Panel Watts:</div>
                    <div class="col-md-4 " style="font-weight: bold;">{{b}} W</div>
                </div>
                <div class="row">
                    <div class="col-md-8" style="font-weight: bold;">Number of Panels:</div>
                    <div class="col-md-4 " style="font-weight: bold;">{{c}}</div>
                </div>
                <div class="row">
                    <div class="col-md-8" style="font-weight: bold;">System Size:</div>
                    <div class="col-md-4 " style="font-weight: bold;">{{a}} kW</div>
                </div>
            </div>
                <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form);" >
                <div class="row mt-3">
                    <div class="col-md-8" > 
                        <input type="email" required  name="email"  [(ngModel)]="email" class="form-control  m-2 "/> 
                    </div>
                    <div class="col-md-4 ">
                        <button mat-raised-button [disabled]="form.invalid" (click)="sendEmail(email);" class="mt-2" style="color: #2cbdb8;"><mat-icon>send</mat-icon>Send Email</button>
                    </div>
                </div>
            </form>
            </div>
            
        </div>
    </div>
    <div class="col-lg-6 ">
        <div class="contact-text">
            <div class="section-title ">
                
                <h3>Load Evaluation Calculator</h3>
            </div>
                
            
                <div class="m-1 text-right">
                    <button mat-raised-button (click)="Create();"><mat-icon>add</mat-icon>Add Appliance</button>
                </div> 
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                   
                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef> Item </th>
                      <td mat-cell *matCellDef="let element">
                          <select class="form-control" 
                           name="ddlval" 
                           #ddlval="ngModel" 
                           [(ngModel)]="element.ddlval" 
                           (change)="populateValue(this.element,ddlval);"  
                           style="width: 200px;">
                        <option value="">Select Appliance</option>
                        <option value="4500">Electric Water Heater</option>
                        <option value="900">Air Cooler</option>
                        <option value="10">LED Bulbs 40W equivalent</option>
                        <option value="1000">Water Pump</option>
                        <option value="120">Ceiling fan </option>
                        <option value="800">Clothes Washer</option>
                        <option value="1200">Dish Washer</option>
                        <option value="200">Plasma Television</option>
                        <option value="20">Desktop computer</option>
                        <option value="5">Tablet-Recharge</option>
                        <option value="8">SmartPhone-Recharge</option>
                        <option value="1200">Vacuum</option>
                        <option value="1500">Fridge</option>
                        <option value="700">Microwave</option>
                      </select> </td>
                    </ng-container>
                  
                    
                    <ng-container matColumnDef="firstName">
                      <th mat-header-cell *matHeaderCellDef> Quantity</th>
                      <td mat-cell *matCellDef="let element"> 
                        <input type="number"  min="0"  name="{{element.Quantity}}" #Quantity="ngModel" [(ngModel)]="element.Quantity" (change)="addQuantity(element);" class="form-control  m-2 "/> 
                      </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="lastName">
                        
                        <th mat-header-cell *matHeaderCellDef style="padding-left: 10px;">Watts</th>
                        <td mat-cell *matCellDef="let element"> 
                            <input type="number" min="0" name="{{element.Watts}}" #Watts="ngModel" [(ngModel)]="element.Watts" (change)="addWhatts(element);" class="form-control  m-2 "/> 
                          </td>
                
                      </ng-container>
                      <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef style="padding-left: 10px;">Number of Hours on per Day</th>
                        <td mat-cell *matCellDef="let element"> 
                            <input type="number" min="0" name="{{element.HourDay}}" #HourDay="ngModel" [(ngModel)]="element.HourDay" (change)="addQuantity(element);" class="form-control  m-2 "/> 
                          </td>
                
                      </ng-container>
                      <ng-container matColumnDef="street">
                        <th mat-header-cell *matHeaderCellDef style="padding-left: 10px;">Watt Hours per Day</th>
                        <td mat-cell *matCellDef="let element"> 
                        <input type="number" min="0" name="{{element.WattDay}}" #WattDay="ngModel" [(ngModel)]="element.WattDay" (change)="addWhatts(element);" class="form-control  m-2 "/> 
                          </td>
                
                      </ng-container>
                      <ng-container matColumnDef="loading">
                      <mat-footer-cell *matFooterCellDef colspan="5">
                          loading data...
                      </mat-footer-cell>
                      </ng-container>
                      <ng-container matColumnDef="noData">
                        <mat-footer-cell *matFooterCellDef colspan="5">
                            <!-- No data found -->
                        </mat-footer-cell>
                        </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  <div class="row mt-3">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label><b>Total watt hours/day</b></label>
                          <input type="text" disabled class="form-control"  name="x"  [(ngModel)]="x" style="margin-top: 48px;" name="firstName" ngModel>
                      </div>
                    </div>
                    
               
                    <div class="col-md-4">
                        <div class="form-group">
                            <label><b>Watt Hours Required Assuming Inherent Efficiency Loss</b></label>
                          <input type="text" disabled class="form-control" name="y"  [(ngModel)]="y"  name="firstName" ngModel>
                      </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label><b>Kilo watts/month</b></label>
                          <input type="text" disabled class="form-control" name="z"  [(ngModel)]="z" style="margin-top: 48px;" name="firstName" ngModel>
                      </div>
                    </div>
                </div>
              
                <button type="button" (click)="calculateValue()" class="site-btn">Calcualte System Size</button>
                <div class="row mt-3">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label><b>Minimum System Size</b></label>
                          <input type="text" disabled class="form-control"  name="a"  [(ngModel)]="a" style="margin-top: 48px;" name="firstName" ngModel>
                      </div>
                    </div>
                    
               
                    <div class="col-md-4">
                        <div class="form-group">
                            <label><b>Approximate Solar Panel Wattage</b></label>
                          <input type="number" min="0" class="form-control" name="b" (change)="calculateValue();"  [(ngModel)]="b"  name="firstName" style="margin-top: 25px;">
                      </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label><b>Approximate Number of Solar Panels Needed</b></label>
                          <input type="text" disabled class="form-control" name="c"  [(ngModel)]="c" style="margin-top: 25px;" name="firstName" ngModel>
                      </div>
                    </div>
                </div>
        </div>
    </div>
</div>
</div>








