
<div class="row" style="float: right;">
    <div class="col-md-12" style="float: right;">
        <button (click)="onClose()" style="background-color: transparent;border: none;font-size: 16px;"><i class="fa fa-close" style="font-size: 25px;"></i>  </button>
        <!-- <mat-icon id="close-icon" (click)="onClose()">close</mat-icon> -->
    </div>
</div>
<h3 class="text-center pt-3">Add / Update</h3>
<section class="blog-section blog-page">
    <div class="container-fluid">
        <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form);" >
            <div class="row  offset-lg-1 ">
              <input type="hidden" name="Id" #Id="ngModel" [(ngModel)]="data.id">
                <div class="col-sm-6    pt-3">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                         
                        </div>
                        <img [src]="data.imagUrl" style="height: 200px;width: 100%;">
                        <input type="file" (change)="hadnlefileinput($event.target.files)"  name="File" #File="ngModel" [(ngModel)]="data.file"  accept="image/*" >

                        </div>

                    </div>
                
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                                <i class="fa fa-file-text"></i>
    
                            </div>
                        </div>
                        <textarea type="text" class="form-control" placeholder="Product Description" name="Description" minlength =8 maxlength =20 #Description="ngModel" [(ngModel)]="data.description"></textarea>
                        </div>
                        
                    </div>
                    
                    
                   
                </div>
                <div class="col-sm-6 pt-3">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                                <i class="fas fa-box"></i>
    
                            </div>
                        </div>
                        <input type="text" class="form-control" placeholder="Product Name" minlength =2 maxlength =20 name="Name" #Name="ngModel" [(ngModel)]="data.name" required>
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                                <i class="fa fa-key"></i>
    
                            </div>
                        </div>
                        <input type="text" class="form-control" placeholder="SkuId"  name="SkuId" maxlength="5" pattern= "[0-9]+" #SkuId="ngModel" [(ngModel)]="data.skuId" required>
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                                
                                <i class="fas fa-coins"></i>
    
                            </div>
                        </div>
                        <input type="input" class="form-control" placeholder="Price"  name="Price" maxlength="4" pattern= "[0-9]+" #Price="ngModel" [(ngModel)]="data.price" required  >
                        </div>
                        
                    </div>
                
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                             <i class="fas fa-calculator"></i>
    
                            </div>
                        </div>
                        <input type="text" class="form-control" placeholder="Daily Product Estimation(kwH)" pattern= "[0-9]+" maxlength="3" name="DailyProductEstimatin" #DailyProductEstimatin="ngModel" [(ngModel)]="data.dailyProductEstimatin" required>
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                             <i class="fa fa-list"></i>
    
                            </div>
                        </div>
                        <select class="form-control" name="categories" #categories="ngModel" [(ngModel)]="data.categories" >
                            <option  *ngFor="let sta of cat; let i = index"  [ngValue]="sta.Id">{{sta.name}}</option>
                        </select>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                        
                        </div> 
                        <div class="col-lg-6 mt-2 text-right sb-text">
                            <button type="submit" class="site-btn" [disabled]="(data.file=='' || data.file ==null ||!form.valid) && data.id==0"><i class="fa fa-database" style="color: white;"></i>Add</button>
                        </div> 
                      </div>
                              
                </div>
            </div>
        </form>
    </div>
</section>

