<app-navbar-logout></app-navbar-logout>
<h3 *ngIf="login==0" class="text-center pt-3">Register User Form</h3>
<h3 *ngIf="login==1" class="text-center pt-3">Update User Form</h3>
<section class="blog-section blog-page">
    <div class="container-fluid">
        <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form);">
            <div class="row  offset-lg-1 ">
                <input type="hidden" name="Id" #Id="ngModel" [(ngModel)]="data.id">
                <div class="col-sm-2"></div>
                <div class="col-sm-4    pt-3">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text bg-white">
                                    <i class="fa fa-user"></i>

                                </div>
                            </div>
                            <input type="text" class="form-control" placeholder="First Name" name="FirstName"
                                #FirstName="ngModel" [(ngModel)]="data.firstName" minlength="4" maxlength="10" required>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text bg-white">
                                    <i class="fa fa-envelope"></i>

                                </div>
                            </div>
                            <input type="text" class="form-control" placeholder="Email" name="Email" #Email="ngModel"
                                [(ngModel)]="data.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required >
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text bg-white">
                                    <i class="fa fa-phone"></i>

                                </div>
                            </div>
                            <input type="text" class="form-control" placeholder="Phone Number" name="PhoneNumber"
                                #PhoneNumber="ngModel" [(ngModel)]="data.phoneNumber"  required pattern= "[0-9]+" maxlength="10">
                        </div>

                    </div>



                </div>
                <div class="col-sm-4 pt-3">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text bg-white">
                                    <i class="fa fa-user"></i>

                                </div>
                            </div>
                            <input type="text" class="form-control" placeholder="Last Name" name="LastName"
                                #LastName="ngModel" [(ngModel)]="data.lastName" minlength="4" maxlength="10" required>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text bg-white">
                                    <i class="fa fa-key"></i>

                                </div>
                            </div>
                            <input type="password" class="form-control" placeholder="Password" name="Password"
                                #Password="ngModel" [(ngModel)]="data.password" required minlength="6" maxlength="9">
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text bg-white">
                                    <i class="fa fa-map-marker"></i>

                                </div>
                            </div>
                            <input type="text" class="form-control" placeholder="Address" name="Address"
                                #Address="ngModel" [(ngModel)]="data.address" maxlength="15" required>
                        </div>

                    </div>


                    <div class="row">
                        <div class="col-lg-6">

                        </div>
                        <div class="col-lg-6 mt-2 text-right sb-text">
                            <button *ngIf="login === 1; else elseBlock" type="submit" class="site-btn"
                                [disabled]="form.invalid">
                                <i class="fa fa-database" style="color: white;"></i>
                                Update Account
                            </button>
                            <ng-template #elseBlock>
                                <button type="submit" class="site-btn" [disabled]="form.invalid"><i
                                        class="fa fa-database" style="color: white;"></i>
                                    Create Account</button>
                            </ng-template>
                        </div>
                    </div>

                </div>
                <div class="col-sm-2"></div>
            </div>
        </form>
    </div>
</section>