<app-navbar-logout ></app-navbar-logout>
<!-- Breadcrumb Section Begin -->
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>Login</h2>
                        <div class="breadcrumb-option">
                            <a href="#"><i class="fa fa-home"></i> Home</a>
                            <span>Login</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section Begin -->
  <!-- Breadcrumb Section END -->
  <section class="blog-section blog-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
              
            </div>
            <div class="col-lg-6 ">
                <div class="row">
                    <div class="col-lg-7 offset-lg-1">
                        <div class="contact-text pt-4">
                            <form action="#" class="contact-form">
                                <input type="text"  #Email name="Email" placeholder="Email">
                                <input type="password"  #Password name="Password" placeholder="Password">
                                <div class="row">
                                  <div class="col-lg-6">
                                    <button type="submit" (click)="Login(Email,Password)" class="site-btn">Login</button>
                                  </div> 
                                  <div class="col-lg-6 mt-2 text-right sb-text">
                                    <a  routerLink="/sign-up-customer" class=""><p>Create Account</p></a>
                                  </div> 
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

