<app-navbar-logout ></app-navbar-logout>
 <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>Gallery</h2>
                        <div class="breadcrumb-option">
                            <a href="#"><i class="fa fa-home"></i> Home</a>
                            <span>Gallery</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section Begin -->

    <!-- Blog Section Begin -->
    <section class="blog-section blog-page spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-item">
                        <div class="sb-pic">
                            <img src="assets/img/blog/s1.jpg" alt="">
                        </div>
                        <div class="sb-text">
                            <ul>
                                <li><i class="icon_pin"></i> Tempe</li>
                                <li><i class="fa fa-clock-o"></i> 18th Jan, 2020</li>
                            </ul>
                            <h4>Install solar panel</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-item">
                        <div class="sb-pic">
                            <img src="assets/img/blog/s2.jpg" alt="">
                        </div>
                        <div class="sb-text">
                            <ul>
                                <li><i class="icon_pin"></i> Glendale</li>
                                <li><i class="fa fa-clock-o"></i> 20th Feb, 2020</li>
                            </ul>
                            <h4>A town house in Glendale </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-item">
                        <div class="sb-pic">
                            <img src="assets/img/blog/s3.jpg" alt="">
                        </div>
                        <div class="sb-text">
                            <ul>
                                <li><i class="icon_pin"></i> Phoenix</li>
                                <li><i class="fa fa-clock-o"></i> 22th Jan, 2020</li>
                            </ul>
                            <h4>Going 100% off-grid by a secluded family home </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-item">
                        <div class="sb-pic">
                            <img src="assets/img/blog/s4.jpg" alt="">
                        </div>
                        <div class="sb-text">
                            <ul>
                                <li><i class="icon_pin"></i> Tempe</li>
                                <li><i class="fa fa-clock-o"></i> 24th Jan, 2019</li>
                            </ul>
                            <h4>Initial steps towards solar power</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-item">
                        <div class="sb-pic">
                            <img src="assets/img/blog/s5.jpg" alt="">
                        </div>
                        <div class="sb-text">
                            <ul>
                                <li><i class="icon_pin"></i> Mesa</li>
                                <li><i class="fa fa-clock-o"></i> 29th Jan, 2019</li>
                            </ul>
                            <h4>Utilizing the maximum sunhours in the desert area</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-item">
                        <div class="sb-pic">
                            <img src="assets/img/blog/s6.jpg" alt="">
                        </div>
                        <div class="sb-text">
                            <ul>
                                <li><i class="icon_pin"></i> Tempe</li>
                                <li><i class="fa fa-clock-o"></i> 30th Jan, 2019</li>
                            </ul>
                            <h4>Ranch style home with off-grid systems</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-item">
                        <div class="sb-pic">
                            <img src="assets/img/blog/s7.jpg" alt="">
                        </div>
                        <div class="sb-text">
                            <ul>
                                <li><i class="icon_pin"></i> Tempe</li>
                                <li><i class="fa fa-clock-o"></i> 02th Feb, 2019</li>
                            </ul>
                            <h4>The desert never ceases to give more than we need</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-item">
                        <div class="sb-pic">
                            <img src="assets/img/blog/s8.jpg" alt="">
                        </div>
                        <div class="sb-text">
                            <ul>
                                <li><i class="icon_pin"></i> Scottsdale</li>
                                <li><i class="fa fa-clock-o"></i> 09th Feb, 2019</li>
                            </ul>
                            <h4>Amazing tiny homes going off-grid</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-item">
                        <div class="sb-pic">
                            <img src="assets/img/blog/s9.jpg" alt="">
                        </div>
                        <div class="sb-text">
                            <ul>
                                <li><i class="icon_pin"></i> Tempe</li>
                                <li><i class="fa fa-clock-o"></i> 12th Feb, 2019</li>
                            </ul>
                            <h4>The Small Change That Creates Massive Results</h4>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-12">
                    <div class="loadmore">
                        <a href="#" class="primary-btn">Load More</a>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
    <!-- Blog Section End -->
