@import '@angular/material/prebuilt-themes/indigo-pink.css';

table {
    width: 100%;
  }
  .mat-icon {
   color: #2cbdb8;
   border:none;
  }
  h3,i {
    color: #2cbdb8; 
 }
 .hide{
     display: none;
 }
 mat-footer-row mat-footer-cell{
     justify-content: center;
     font-style: italic;
 }
 img{
    height: 40px;
    width: 40px;
   }
