<style>
    #toast-container > div {
   opacity: 1 !important;
 }
 .toast {
   font-size: initial !important;
   border: initial !important;
   backdrop-filter: blur(0) !important;
   
 }
 .toast-success {
   background-color: #51A351 !important;
 }
 .toast-error {
   background-color: #BD362F !important;
 }
 .toast-info {
   background-color: #2F96B4 !important;
 }
 .toast-warning {
   background-color: #F89406 !important;
 }
</style>
<!-- <div class="row" style="float: right;">
   <div class="col-md-12" style="float: right;">
       <button (click)="onClose()" style="background-color: transparent;border: none;font-size: 25px;"><i class="fa fa-close" style="font-size: 16px;"></i>  </button>
       <mat-icon id="close-icon" (click)="onClose()">close</mat-icon> 
   </div>
</div> -->
<h3 class="text-center pt-3">User Payment</h3>
<section class="blog-section blog-page">
   <div class="container-fluid">
       <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form);" >
       <div class="row  offset-lg-1 ">
           <div class="col-sm-12    pt-3">
               <div class="form-group">
                   <div class="input-group">
                       <div class="input-group-prepend">
                       <div class="input-group-text bg-white">
                        <i class="fa fa-user"></i>

                       </div>
                   </div>
                   <input type="text" class="form-control" placeholder="Name on card" name="FirstName" #FirstName="ngModel" [(ngModel)]="data.name"   required>
                   </div>
                   
               </div>
               <div class="form-group">
                   <div class="input-group">
                       <div class="input-group-prepend">
                       <div class="input-group-text bg-white">
                        <i class="fa fa-credit-card "></i>

                       </div>
                   </div>
                   <input type="number" class="form-control" placeholder="Card Number"  name="CardNumber" #CardNumber="ngModel" [(ngModel)]="data.CardNumber"   required minlength="14" maxlength="14">
                   </div>
                   
               </div>
               <div class="form-group">
                   <div class="input-group">
                       <div class="input-group-prepend">
                       <div class="input-group-text bg-white">
                           <i class="fa  fa-calendar"></i>

                       </div>
                   </div>
                   <input type="text" class="form-control" placeholder="Valid Through (MM/YYYY)" name="Valid" #Valid="ngModel" [(ngModel)]="data.Valid"  required minlength="7" maxlength="7">
                   </div>
                   
               </div>
               <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="fa fa-calculator"></i>

                    </div>
                </div>
                <input type="text" class="form-control" placeholder="CCV (3 digts)" name="CCV" #CCV="ngModel" [(ngModel)]="data.CCV"  required minlength="3" maxlength="3">
                </div>
                
                </div>
                <div class="row">
                    <div class="col-lg-6">
                    
                    </div> 
                    <div class="col-lg-6 mt-2 text-right sb-text">
                        <button type="submit" class="site-btn" [disabled]="form.invalid"><i class="fa fa-database" style="color: white;"></i>   Add</button>
                    </div> 
                  </div>
              
           </div>
          
       </div>
   </form>
   </div>
</section>


